@include for-phone-up {
    .section__container__wrapper {
        max-width: 768px;
        // overflow-x: hidden;
    }

    .section-main__header__container {
        flex-direction: column;
    }

    // .section-main__header-list {}

    .section-main__header-li {
        flex-direction: column;
    }

    .section-main__header-text {
        margin-left: 0;
    }

    .section__footer--ad {
        width: auto;
    }

    .section__main--applying--set {
        margin-bottom: 50px;
    }

    .section__footer__text--ad {
        font-size: 17px;
        justify-content: left;
        margin-left: 10px;
    }

    .section__container__wrapper {
        flex-direction: column;
    }

    .section__footer::after {
        top: -43px;
    }

    .section__main--applying--tabs {
        width: 300px;
    }

    .section__main--applying--container {
        align-items: center;
    }

    .section__main--applying--water {
        height: 400px;
        position: absolute;
        left: -71px;
        bottom: 125px;
        right: 0;
    }

    .section__main--applying {
        margin: 10px;
    }

    .section-dangerous__main--var--container::after {
        left: 2%;
    }
}

@include for-tablet-up {
    .section__container__wrapper {
        max-width: 1170px;
        // overflow-x: hidden;
    }

    .section-main__main {
        display: none;
    }

    .section__main--container--item {
        width: auto;
    }

    .general--wrapper {
        padding: 0 30
    }


    .section__main--container--item {
        flex-direction: column;
    }

    .section__header--subtitle {
        margin-left: 5%;
    }

    .section__main--container--item {
        align-items: center;
    }

    .section-dangerous__main--var--container::after {
        left: 3%;
    }

    .section-dangerous__main--var--container::before {
        right: 116px;
    }

    .section-dangerous__main--var--container {
        flex-wrap: nowrap;
        width: 100%;
        padding-left: 5%;
        margin-top: 50px;

        &::after {
            top: -27px;
        }
    }

    .wrap-all-section__main--container--item--arguments {
        flex-direction: column;
    }

    .section__main--container--header {
        display: flex;
        flex-direction: row;
    }

    .section__main--container--body {
        height: auto;
    }

    .section__footer--arguments {
        height: auto;
    }

    .section__main__container--ad {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .section__main__container--ad div:nth-child(n)::after {
        display: none;
    }

    .section__main__item--ad {
        margin: 13px;
    }
}




@include for-desktop-up {
    .section__container__wrapper {
        max-width: 1170px;
        overflow-x: hidden;
    }

    .section-main__main-product__pics-container {
        left: 0;
    }

    .section__header {
        margin-top: 80px;
    }

    .company-info__wrap {
        z-index: 1;
    }
}

@include for-big-desktop-up {
    .section__container__wrapper {
        max-width: 1200px;
    }
}






//  .section-main::after {
//      background: green;
//      color: blue;dd
//      z-index: 50;
//      ;
//  }