@mixin sprite ($url, $width, $height, $x, $y) {
    background: url($url) no-repeat $x $y;
    width: $width;
    height: $height;
}

@mixin underline ($underline-color, $underline-hover-color) {
    border-bottom: 3px solid $underline-color;

    &:hover {
        border-bottom-color: $underline-hover-color;
    }
}

// @mixin lightlink($color:#ffffff, $hovercolor:$main-theme-color) {
//     text-decoration: none;
//     color: $color;
//     &:focus, &:hover {
//         color: darken($hovercolor, 25%);
//     }
// }