@mixin sprite ($url, $width, $height, $x, $y) {
    background: url($url) no-repeat $x $y;
    width: $width;
    height: $height;
}

// @mixin lightlink($color:#ffffff, $hovercolor:$main-theme-color) {
//     text-decoration: none;
//     color: $color;
//     &:focus, &:hover {
//         color: darken($hovercolor, 25%);
//     }
// }