* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

body {
    font-family: "Roboto-Regular", sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background-image: -webkit-gradient(linear, right top, left top, from(#e9f5f7), color-stop(1%, #e9f5f7), color-stop(51%, #f8fdfe), to(#e9f5f7));
    background-image: linear-gradient(to left, #e9f5f7 0%, #e9f5f7 1%, #f8fdfe 51%, #e9f5f7 100%);


}

.section__container__wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.company-info {
    &__wrap {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    &__logo {
        height: 56px;
        width: 81px;
        background: url(/dist/media/icons/company-logo.png) no-repeat;

        &-half {
            height: 54px;
            width: 47px;
            background: url(/dist/media/icons/company-logo.png) no-repeat;
        }
    }
}

.section__header {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 44px;


    &--title {
        font-family: 'Roboto-Black', sans-serif;
        text-align: center;

        font-size: 48px;
        margin-bottom: 27px;

        &--highlight {
            color: $title-color--highlight;
        }
    }

    &--subtitle {
        font-family: 'Roboto-Black', sans-serif;
        font-size: 24px;
    }
}

.section-title--dark {
    font-family: "Roboto-Black", sans-serif;
    color: $section-title-color--dark;
}

.section__main {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;

    &--container {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        min-width: 320px;

        &--item {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
        }
    }
}

.section__footer {
    position: relative;
    border: 3px solid #f4d3bb;
    border-radius: 10px;
    padding: 42px 0;
    margin-top: 81px;

    &--text {
        display: -webkit-box;
        display: flex;
        width: 81%;
        font-size: 22px;
        color: #444444;
        margin: 0 auto;

        &--bold {
            font-family: 'Roboto-Medium', sans-serif;
            color: #000000;
            font-weight: 500;
        }

        &--normal {
            text-align: justify;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 73%;
        right: 46%;
        @include sprite(68px, 68px, -5px, -399px);
        box-shadow: -50px 0px 0px 0px #ffffff,
            40px 0px 0px 0px #ffffff;
    }
}

ul {
    list-style-type: none;
}