.section-main {
    position: relative;
    margin-bottom: 100px;

    // &:after {
    //     position: absolute;
    //     content: '';
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     // background: linear-gradient(to right, #ffffff7a 42%, #f3f9ff5b 42%, #f3f9ff 100%);
    //     // background: url(/dist/media/icons/section-main-bg.png) no-repeat;
    // }

    &__header {
        margin-bottom: 50px;

        &__container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: 10px;
        }
    }

    &__main {
        display: flex;
        justify-content: space-between;
    }
}

.company-info {
    &__wrap {
        display: flex;
        align-items: center;
    }

    &__logo {
        padding-right: 17px;
    }

    &__name {
        font-size: 22px;
        line-height: 40px;
    }
}

.section-main__header {
    &-list {
        display: flex;

        justify-content: space-between;
        width: 648px;
        margin: 12px 20px 0 96px;

    }

    &-li {
        display: flex;
        align-items: center;
    }

    &-text {
        color: $section-main__header-text-color;
        font-size: 16px;
        font-style: italic;
        line-height: 18px;
        margin-left: 10px;
    }
}

.section-main__sprite {
    &--rating {
        @include sprite('/dist/media/icons/sprite-icons-header.png', 70px, 39px, -55px, -5px);
    }

    &--recommendation {
        @include sprite('/dist/media/icons/sprite-icons-header.png', 50px, 41px, -5px, -54px);
    }

    &--clients {
        @include sprite('/dist/media/icons/sprite-icons-header.png', 70px, 37px, -5px, -5px);
    }

}

.section-main__main {
    &-product {
        &__pics {
            border-radius: 50%;
            border: 10px solid white;
            border-right: transparent;
            border-bottom: transparent;
            position: relative;
            width: 571px;
            height: 572px;

            // &::after {
            //     content: '';
            //     position: absolute;
            //     width: 571px;
            //     height: 572px;
            //     // border-radius: 50%;
            //     border: 10px solid red;
            //     top: 0;
            //     border-right: none;
            //     border-bottom: none;
            //     border-top: none;
            //     transform: rotate(90deg);
            //     margin: -20px;
            //     border-top-left-radius: 50%;
            //     border-bottom-left-radius: 50%;
            // }

            // -webkit-box-shadow: -10px -10px 10px 10px rgba(255, 255, 255, 1);
            // -moz-box-shadow: -10px -10px 10px 10px rgba(255, 255, 255, 1);
            // box-shadow: -10px -10px 10px 10px rgba(255, 255, 255, 1);

            &-container {
                position: relative;
                width: 100%;
                height: 100%;
                background: url(/src/assets/pics/section-main-circle-room.png);
            }
        }
    }

    &-about {
        max-width: 373px;
    }

    &-title {
        font-size: 44px;
        max-width: 305px;
        color: #383334;
        line-height: 44px;

        margin-bottom: 36px;
    }

    &-list {
        position: relative;
    }

    &-li {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        &:last-child::before {
            content: "";
            width: 7.5px;
            background: url(/dist/media/icons/ul-arrow.png) no-repeat;
            position: absolute;
            top: 120px;
            height: 100%;
            left: 18px;
            transform: scale(1.2);
        }

        &--text {
            width: 290px;
            color: #444444;
            font-size: 20px;
            line-height: 24px;

            &--medium {
                font-family: "Roboto-Medium";
            }
        }
    }
}

.underline {
    &--light {
        @include underline(#ff6b00, #a7c93d);
    }

    &--dark {
        @include underline(#a7c93d, #ff6b00);
    }
}

.product-pic {
    position: absolute;
}

.main-product--img {
    &-0 {
        bottom: -150px;
    }

    &-1 {
        bottom: -50px;
    }

    &-2 {
        bottom: -50px;
    }

    &-3 {
        bottom: -50px;
    }

    &-4 {
        bottom: -50px;
    }

    &-5 {
        bottom: -50px;
    }
}